<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Midlothian_Operations.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Midlothian_Operations.My.MySettings.RuntimeConnectionString"
            connectionString="Data Source=MIDHIS01;Initial Catalog=Runtime;Persist Security Info=True;User ID=wwUser;Password=wwuser"
            providerName="System.Data.SqlClient" />
        <add name="Midlothian_Operations.My.MySettings.LDMS7_MIDConnectionString"
            connectionString="Data Source=10.1.175.4;Initial Catalog=&quot;LDMS7 MID&quot;;Persist Security Info=True;User ID=qesread;Password=qesread"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Midlothian_Operations.My.MySettings>
            <setting name="DownTimeDatabase" serializeAs="String">
                <value>\\FSMIDLOCMT01\Data\Reliability Dep\Reliability\DownTime.mdb</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>bWFydGlubWFyaWV0dGEwMQ==</value>
            </setting>
            <setting name="TagServer" serializeAs="String">
                <value>MIDHIS01</value>
            </setting>
            <setting name="TagServerUserName" serializeAs="String">
                <value>wwUser</value>
            </setting>
            <setting name="TagServerPassword" serializeAs="String">
                <value>d3d1c2Vy</value>
            </setting>
            <setting name="LDMSServer" serializeAs="String">
                <value>10.1.175.4</value>
            </setting>
            <setting name="LDMSUserName" serializeAs="String">
                <value>qesread</value>
            </setting>
            <setting name="LDMSPassword" serializeAs="String">
                <value>cWVzcmVhZA==</value>
            </setting>
            <setting name="RMTrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PHTTrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KilnTrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoolerTrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM1TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM2TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM3TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM4TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM5TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM6_1TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FM6_2TrendActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QualityTrendActive" serializeAs="String">
                <value>True</value>
            </setting>
        </Midlothian_Operations.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
